/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* Body and general styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #ffffff;
}

main {
    flex: 1;
    animation: fadeIn 1s ease-in;
}

main section {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Header styles */ 
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #007a29; /* Green background */
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom-left-radius: 20% 20px;
    border-bottom-right-radius: 20% 20px;
}

.logo-section {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 80px;
    height: 80px;
}

#logo {
    font-size: 2rem;
    margin-left: 1rem;
}

#logo a {
    text-decoration: none;
    color: white;
}
.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-left: 1rem;
}


/* Navigation styles */
nav ul {
    display: flex;  
    list-style: none;
    background-color: transparent; /* Transparent to match header */
    padding: 0.5rem;
}

nav ul li {
    position: relative;
    margin-left: 2rem;
}

nav ul li::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    background: transparent;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
    font-size: 1rem;
}

nav ul li a:hover {
    transition: color 0.3s;
    color: #ffb700;
}   

/* Dropdown styles */
/* About Dropdown */
.about_drop_down {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00412e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    min-width: 300px;
    z-index: 999;
}

nav ul li > a:hover + .about_drop_down, nav ul li > .about_drop_down:hover {
    display: block;
    animation: displayAbout 0.3s;
}

@keyframes displayAbout {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about_drop_down li {
    margin: 0;
    display: block;
}

.about_drop_down li a {
    padding: 1rem 1rem;
    color: white;
    text-align: left ;
}

.about_drop_down li a:hover {
    transition: color 0.2s;
    color: #ffb700; 
}


/* Life@KIS Dropdown */
.life_kis_drop_down {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00412e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    min-width: 200px;
    z-index: 999;
}


nav ul li > a:hover + .life_kis_drop_down, nav ul li > .life_kis_drop_down:hover {
    display: block;
    animation: displayLifeKIS 0.3s;
}

@keyframes displayLifeKIS {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.life_kis_drop_down li {
    margin: 0;
    display: block;
}

.life_kis_drop_down li a {
    padding: 1rem 1rem;
    color: white;
    text-align: left  ;
}

.life_kis_drop_down li a:hover {
    transition: color 0.2s;
    color: #ffb700; 
}

/* Hero section styles */
#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-image: url(/static/images/background/school_bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 1);
}

.hero-content {
    background-color: rgba(0,0,0,0.2);
    width: 40%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


.btn {
    background-color: #0ea600;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 2rem;
}

.btn:hover {
    background-color: #00732c;
}

/* About School section */
#about-school {
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    height: 20rem;
    max-height: none;
}

#about-school-btn {
    margin-top: 1rem;
}

/* Latest News section */
#latest_news h2 {

    padding: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#latest_news {
    color: black;
    text-align: center;
    background-color: #c7c7c7;
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.news-item {
    border-radius: 10px;
    flex: 1 1 300px;
    max-width: 350px;
    text-align: center;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background-color: #838383;

}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-item p {
    overflow-wrap: break-word;
    margin-top: 1rem;
    color: black;
    flex-wrap: wrap;
}

/* Footer styles */
footer {
    border-top-left-radius: 20% 20px;
    border-top-right-radius: 20% 20px;
    background-color: #00a233;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}

#footer-section {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.footer-logo h1 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    text-align: center;
}

.footer-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.request-role {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #009c31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        position: relative;
    }

    .logo-section h1 {
        font-size: 1.5rem;
    }

    .hamburger {
        display: block;
        order: 2;
    }

    nav {
        order: 3;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #009c31;
        padding: 1rem 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        z-index: 10;
    }

    #nav-toggle:checked ~ nav ul {
        display: flex;
    }

    nav ul li {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 1rem;
        text-align: center;
    }

    .about_drop_down {
        position: static;
        display: none;
        background-color: #067b01;
    }

    nav ul li:hover .about_drop_down {
        display: block;
        border-radius: 0;
    }

    .life_kis_drop_down li a {
        padding: 0.5rem 2rem;
        text-align: left;
    }

    .life_kis_drop_down {
        position: static;
        display: none;
        background-color: #067b01;
    }

    nav ul li:hover .life_kis_drop_down {
        display: block;
    }

    .life_kis_drop_down li a {
        padding: 0.5rem 2rem;
        text-align: left;
    }

    nav ul li::after {
        display: none; /* Hide the hover extension on mobile */
    }

    .hero-content {
        width: 80%;
        height: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-content h1 {
        font-size: 2rem;
        text-align: center;
    }
    .hero-content p {
        font-size: 1rem;
        text-align: left;
    }

    .contents-body {
        width: 100%;
    }
    
    .contents-header h2{
        font-size: 2rem;
    }
}




/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #009c31;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.back-to-top:hover {
    background-color: #007a29;
}

/* event section */
#event {
    height: 20rem;
}

#event h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/* contents section */
.contents {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-header {
    height: 15rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/static/images/background/school_bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.contents-header h2 {
    font-size: 8rem;
    animation: fadeInText 1s ease-out;
}

.contents-body h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

@keyframes fadeInText {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

.contents-body {
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
    width: 80%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.contents-body p {
    padding: 1rem 2rem;
}

/* logion section */
#login-container {
    height: 20rem;
    background-color: #c7c7c7;
    color: black;
    text-align: center;
}

.login-box {
    margin-top: 2rem;
    display: inline-block;
    text-align: left;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}