{% extends "base.html" %}
{% block title %}Core Values of KIS{%endblock %}

{% block content %}
    <section class="contents">
        <div class="contents-header">
            <h2>Core Values</h2>
        </div>
        <div class="contents-body">
            <p>At Kaytitinga Integrated School (KIS), our core values are the guiding principles that shape our culture, inform our decisions, and drive our commitment to excellence in education. These values are deeply embedded in our daily interactions, curriculum, and community engagement, reflecting our dedication to nurturing well-rounded individuals who are prepared to make a positive impact on the world.</p>
            <h3>1. Excellence</h3>
            <p>We strive for excellence in all aspects of education, from academic achievement to extracurricular activities. We encourage our students to reach their full potential and support them in their pursuit of knowledge and personal growth.</p>
            <h3>2. Integrity</h3>
            <p>We uphold the highest standards of honesty and ethical behavior. We believe that integrity is essential for building trust and fostering a positive learning environment where students can thrive.</p>
            <h3>3. Respect</h3>
            <p>We promote a culture of respect for oneself, others, and the environment. We value diversity and encourage our students to appreciate different perspectives and backgrounds.</p>
            <h3>4. Responsibility</h3>
            <p>We instill a sense of responsibility in our students, encouraging them to take ownership of their actions and contribute positively to their communities.</p>
            <h3>5. Compassion</h3>
            <p>We foster empathy and compassion among our students, encouraging them to support one another and engage in acts of kindness both within the school and in the wider community.</p>
        </div>
{% endblock %}