{% extends "base.html" %}
{% block title %}Mission and Vision of KIS{% endblock %}

{% block content %}

<!-- Mission and Vision Section -->
        <section class="contents">
            <div class="contents-header">
                <h2>Mission and Vision</h2>
            </div>
            <div class="contents-body">
                <h3>Mission</h3>
                <p>Our mission is to provide a nurturing and inclusive learning environment that fosters academic excellence, character development, and lifelong learning. We are committed to empowering our students with the knowledge, skills, and values necessary to become responsible global citizens and leaders in their communities.</p>
                <h3>Vision</h3>
                <p>Our vision is to be a leading educational institution recognized for its commitment to academic excellence, innovation, and holistic development. We aspire to create a vibrant learning community where students are inspired to reach their full potential, embrace diversity, and contribute positively to society.</p>
            </div>
        </section>

{% endblock %}