{% extends "base.html" %}
{% block title %}Events - KIS{% endblock %}

{% block content %}
<section class="events-section">
    <div class="contents-header">
        <h2>Upcoming Events</h2>
    </div>
    <div class="events-container">
        <div class="event-card">
            <img src="/static/images/background/school_bg.jpg" alt="Event Image" class="card-image">
            <div class="card-content">
                <h3>Annual Sports Day</h3>
                <p class="card-date">March 15, 2026</p>
                <p>Join us for an exciting day of sports and competitions. All students are encouraged to participate in various athletic events...</p>
                <a href="#" class="read-more">Learn More</a>
            </div>
        </div>
        <div class="event-card">
            <img src="/static/images/background/school_bg.jpg" alt="Event Image" class="card-image">
            <div class="card-content">
                <h3>Parent-Teacher Conference</h3>
                <p class="card-date">March 10, 2026</p>
                <p>A meeting for parents and teachers to discuss student progress and address any concerns. Appointments can be scheduled...</p>
                <a href="#" class="read-more">Learn More</a>
            </div>
        </div>
        <div class="event-card">
            <img src="/static/images/background/school_bg.jpg" alt="Event Image" class="card-image">
            <div class="card-content">
                <h3>Cultural Festival</h3>
                <p class="card-date">April 5, 2026</p>
                <p>Celebrate diversity with performances, food stalls, and cultural exhibitions from around the world. A fun-filled event for all...</p>
                <a href="#" class="read-more">Learn More</a>
            </div>
        </div>
        <div class="event-card">
            <img src="/static/images/background/school_bg.jpg" alt="Event Image" class="card-image">
            <div class="card-content">
                <h3>Graduation Ceremony</h3>
                <p class="card-date">May 20, 2026</p>
                <p>Congratulations to our graduating class! Join us for the commencement ceremony and celebrate the achievements of our students...</p>
                <a href="#" class="read-more">Learn More</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}