{% extends "base.html" %}
{% block title %}News - KIS{% endblock %}

{% block content %}
<section class="news-section">
    <div class="contents-header">
        <h2>Latest News</h2>
    </div>
    <div class="news-container">
        <div class="news-card">
            <img src="/static/images/background/school_bg.jpg" alt="News Image" class="card-image">
            <div class="card-content">
                <h3>School Achieves Excellence in Academics</h3>
                <p class="card-date">February 1, 2026</p>
                <p>Kaytitinga Integrated School has been recognized for outstanding academic performance in the recent examinations. Our students have shown remarkable improvement...</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
        <div class="news-card">
            <img src="/static/images/background/school_bg.jpg" alt="News Image" class="card-image">
            <div class="card-content">
                <h3>New Sports Facilities Inaugurated</h3>
                <p class="card-date">January 25, 2026</p>
                <p>The school has inaugurated state-of-the-art sports facilities including a new basketball court and gymnasium. This will enhance our students' physical education...</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
        <div class="news-card">
            <img src="/static/images/background/school_bg.jpg" alt="News Image" class="card-image">
            <div class="card-content">
                <h3>Annual Science Fair Winners Announced</h3>
                <p class="card-date">January 20, 2026</p>
                <p>The annual science fair concluded with exciting projects from our students. Winners were awarded for innovation and creativity in various scientific fields...</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
        <div class="news-card">
            <img src="/static/images/background/school_bg.jpg" alt="News Image" class="card-image">
            <div class="card-content">
                <h3>Community Outreach Program Launched</h3>
                <p class="card-date">January 15, 2026</p>
                <p>KIS has launched a new community outreach program aimed at environmental conservation and social responsibility. Students participated in tree planting...</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}